$backgroundColor: rgba(143, 138, 138, 0.7);
$white: #fff;
$lightslategrey: lightslategrey;
$headerColor: #545556;

$desktop: 1320px;
$tablet: 840px;
$mobile: 640px;

@mixin aboutMePictureShape {
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 200px;
    height: 230px;
}

@mixin buttonAppearance($textColor, $borderColor) {
    color: $textColor;
    border-bottom: 2px solid $borderColor;
    border-right: 2px solid $borderColor;
}