$backgroundColorOpacity: rgba(143, 138, 138, 0.7);
$backgroundColor: rgb(143, 138, 138);
$arrowColor: rgb(133, 126, 126);
$headerColor: #545556;
$formColor: #8f8a8a;

$white: #fff;
$black: black;
$lightslategrey: lightslategrey;

$desktop: 1320px;
$tablet: 840px;
$mobile: 640px;

@mixin aboutMePictureShape {
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 200px;
    height: 230px;
}

@mixin buttonAppearance($textColor, $borderColor) {
    color: $textColor;
    border-bottom: 2px solid $borderColor;
    border-right: 2px solid $borderColor;
}