$bodyBackgroundColor: #FFDEE9;
$bodyBackgroundLinear: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
$fontFamily: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$navigationBackground: #87CBAC;
$white: #fff;
$lightslategrey: lightslategrey;
$lightcoral: lightcoral;

$desktop: 1112px;
$tablet: 840px;
$mobile: 640px;

@mixin aboutMePictureShape {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

@mixin sectionHeaderBeforeShape {
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 20px;
    height: 20px;
}