@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  // font-family: $fontFamily;
  font-family: 'Montserrat', sans-serif;
  background-color: $bodyBackgroundColor;
  background-image: $bodyBackgroundLinear;
  min-height: 100vh;
}

.main-header {
  position: fixed;
  width: 100%;
  padding: 16px;
  top: 0;
  left: 0;
  background: $navigationBackground;
  z-index: 10;
  min-height: 45px;
}

.navigation {

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  
    &--article {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-start;
    }
  }

  &__item {
    margin-left: 30px;

    &--article {
      margin: 0;
    }
  }

  &__link {
    color: $white;
    padding-bottom: 5px;
    text-decoration: none;
  
    &:hover {
      border-bottom: 2px solid $white;
    }
  }

  &__button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: $white;
    display: none;
  }
}

.main {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  padding-top: 50px;

  &__header {
    color: #697268;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    margin-bottom: 60px;
  }
}

.about {
  width: 100%;
  position: relative;

  &__header {
    color: #5B85AA;
    font-size: 30px;
  }

  &__picture {
    width: 100%;
    display: block;
    float: left;
    margin: 0 20px 10px 0;
    @include aboutMePictureShape;
  }

  &__paragraph {
    padding: 16px;
  }

  &__link {
    color: $lightcoral;
    text-decoration: none;
  }
}

.diary {
  clear: both;

  &__header {
    color: #5B85AA;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    padding: 50px 0;
    text-align: center;
  }
}

.section {
  padding-left: 16px;
  margin-bottom: 40px;
  max-width: 300px;
  max-height: 300px;

  &:hover {
    background: rgb(198, 230, 227);
    border-radius: 20px;
    font-style: italic;
  }

  &__header {
    color: rgb(54, 126, 150);
    font-size: 20px;
    margin-bottom: 16px;
    position: relative; 
  }

  &__header::before {
    content: "";
    @include sectionHeaderBeforeShape;
    margin-right: 10px;
    background: $lightcoral;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -30px;
  }

  &__paragraph {
    padding: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: 150px;
    overflow: auto;
  }

  &__link {
    color: $lightcoral;
    text-decoration: none;
  }
}

.article {

  &__header {
    color: $lightslategrey;
    font-size: 30px;
    margin-bottom: 40px;
  }

  &__paragraph {
    padding-left: 10px;
    font-style: italic;
    margin-bottom: 30px;
    border-left: 2px solid $lightslategrey;
    max-width: 700px;
  }

  &__strong {
    color: $lightslategrey;
  }

  &__picture {
    border-top-left-radius: 40px;
    padding-bottom: 10px;
  }

  &__footer {
    font-style: italic;
    font-weight: bold;
    max-width: 700px
  }
}

.footer {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    color: $white;
    display: flex;
    justify-content: center;
    background: $navigationBackground;

  &:not(.footer--main-page) {
    position: fixed;
    bottom: 0;
  }

  &__link {
    color: $lightcoral;
    text-decoration: none;
  }

  &__link--top {
    position: fixed;
    bottom: 60px;
    right: 10px;
    text-decoration: none;
    color: $lightcoral;
    border-right: 2px solid $lightcoral;
    padding: 5px;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 90px;
  grid-row-gap: 45px;
}

@media screen and (max-width: $desktop) {

  .navigation {
    
    &__button {
      display: block;
    }

    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;

      &--visible {
        display: flex;
      }
    }

    &__item {
      margin: 0;
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .main {
      padding: 16px;
  }
  .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
  }
  .footer__link--top {
      bottom: 90px;
  }
}

@media screen and (max-width: $mobile) {

  .main__header {
      text-align: center;
      font-size: 30px;
  }

  .about {
    
    &__header {
      text-align: center;
      font-size: 25px;
  }

    &__picture {
    float: none;
    margin: 30px auto;
  }
}

  .diary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
      font-size: 20px;
  }
}

  .section {

    &__header {
      font-size: 18px;
  }
}

  .article {

    &__header {
      font-size: 25px;
  }
  
    &__picture {
      padding: 10px;
      max-width: 320px;
      display: block;
  }
}

  .grid {
      grid-template-columns: repeat(1, 1fr);
  }
}